#network-main-start{
  font-weight: 300;

  sup:hover {
    cursor: pointer;
  }

  .spacer-sm {
    height: 10px;
  }

  .spacer {
    height: 20px;
  }

  .disclaimer {
    font-weight: normal;
  }

  #lead {
    .col-xs-12{
      // restore bootstrap's normal padding (was overwritten in main stylesheet)
      padding-right: 15px;
    }

    h2.active {
      padding: 15px;
    }

    @media only screen and (min-width : 1200px) {
      h2.active{
        padding: 20px 30px;
      }

      .pad-desktop {
        padding: 0px 60px;
      }
    }

    select {
      &.mute {
        color: #aaa;
      }
    }

    // Social Security Input
    .form-field {

      input.ssn-part {
        display: inline-block;
        text-align: center;
      }

      input.area.ssn-part { width: 24%; }
      input.group.ssn-part { width: 16%; }
      input.serial.ssn-part { width: 32%; }

      .dash {
        width: 9%;
        display: inline-block;
        text-align: center;
      }

      a {
        margin-left: 15px;

        &#hide-ssn { display: none; }
        &#show-ssn { display: inline; }
      }
    }

    .success{
      input, select{
        border: 1px solid #60c659;    //lk-green
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .input-group-addon{
        border: 1px solid #60c659;
        border-right: 0;
        color: #60c659;
      }
    }

    .has-error{
      .input-group-addon.white{
        border: 1px solid #ce4844 !important;
        color: #ce4844 !important;
        border-radius: 4px 0 0 4px;
      }
      input, select{
        border-bottom: 1px solid #ce4844;
        border-radius: 4px;
      }
      .input-group{
        input, select{
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }

  .left-questions{
    background: transparent;
    padding-bottom: 15px;
    border-right: 0;

    // main layout has padding-right at 14px, but that cuts off State* in Windows Chrome
    select{
      padding-right: 10px;
    }

    /*
    * firefox-specific hack
    * http://stackoverflow.com/questions/5128155/set-css-width-to-100-right-border-is-missing/11390432#11390432
    */
    @-moz-document url-prefix() {
      select { width: 99%; }
    }

    .submit{
      margin-left: 0;
    }

    .form-box{
      background: #fff;
      padding: 20px 0;
      margin: 20px 15px 0 15px;
    }

    .form-control{
      // font-size: 1.5em;     // if you want large fields/text
    }

    .form-group { margin-bottom: 17px; }

    .form-group.has-error{
      position: relative;
      margin-bottom: 0;

      .errors{
        position: relative;
        font-size: 12px;
        color: #ce4844;
        white-space: wrap;
      }
    }
  }

  .progress-tracker{
    h5{
      font-weight: bold;
    }
    .circle-filled{
      border-radius: 50%;
      background: #60c659;    //lk-green
      color: white;
      font-weight: bold;
      display: inline-block;
      padding: 2px 8px;
      margin-bottom: 15px;
      margin-right: 10px;
    }

    label{
      color: #60c659;
    }

    .grayed{
      .circle-filled{
        background: #e2e0e1;      // lk-light-gray
        margin-bottom: 0;
      }
      label{
        color: #e2e0e1;
      }
    }
  }

  .rates-teaser{
    color: #C8C7C8;               // from invision
    font-size: 12px;

    h4{
      color: #585858;
      margin-bottom: 4px;
    }

    h5{
      color: #585858;
      font-weight: bold;
      font-size: 1.2em;
    }

    .spacer{
      margin: 10px 0;
      text-align: center;
    }
  }

  .sidebar-seal {
    display: block;
    margin: 0 auto;
  }

  .field-details {
    color: #949599;
    font-style: italic;
  }
}

.field-directions {
  color: #60c659;
}

.field-label {
  margin-top: 7px;
}

.field-label-long {
  margin-top: 7px;
  font-weight:400;
}

@media only screen and (max-width:768px) {
  .field-label-long {
    text-align: left;
    margin-bottom: 5px;
  }

  .checkbox-label {
    margin-left: 0px !important;
  }

  .field-label {
    margin-top: 7px;
  }
}
