.main{
  .card.ssn{
    font-size: 16px;
    
    .card__title {
      width: 260px;
    }

    .card__body {
      &.row.detail{
        p { margin-bottom: 15px; }

      // for now just doing a one-off style for the ssn form to allow for
      // the tooltip, but if it needs to be reuseable, can rewrite to
      // 'form-group with-tooltip' class
      form{
          width: 80%;
          margin: 0 auto;

          .form-group{
            width: 90%;
            position: relative;
            float: left;
          }

          .tooltip-target{
            position: absolute;
            top: 0;
          }

          button{
            height: auto;
            width: auto;
            padding: 8px 16px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
